.tabImageIOS {
    content: url('apple60.png');
    width: 20px;
    height: 20px;
    /*    padding:4px 0 0 6px; */
}

.tabImageAndroid {
    content: url('android60.png');
    width: 20px;
    height: 20px;
    /*    padding:4px 0 0 6px; */
}

.tabImageWin {
    content: url('winmo60.png');
    width: 20px;
    height: 20px;
    /*    padding:4px 0 0 6px; */
}

.tabbed {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.tabbed > input {
    display: none;
}

.tabbed > section > h1 {
    float: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em 0.5em 0;
    overflow: hidden;
    font-size: 1em;
    font-weight: normal;
}

.tabbed > input:first-child + section > h1 {
    padding-left: 1em;
}

.tabbed > section > h1 > label {
    display: block;
    padding: 0.25em 0.75em;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.0625);
    background: #fff;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.tabbed > section > div {
    position: relative;
    z-index: 1;
    float: right;
    box-sizing: border-box;
    width: 100%;
    margin: 2.7em 0 0 -100%;
    padding: 0.5em 0.75em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.0625);
    background: #fff;
    min-height: 120px;
}

.tabbed > input:checked + section > h1 {
    position: relative;
    z-index: 2;
}

.tabbed > input:checked + section > h1 > label {
    border-bottom: 1px solid white;
}

.tabbed > input:not(:checked) + section > div {
    display: none;
}

/**
 * we reveal a panel depending on which control is selected
 */
.tabImage {
    width: 20px;
    height: 20px;
}

.tabPanel-widget {
    position: relative; /* containing block for headings (top:0) */
    /*   background: #999; */
}

/**
 * because labels come first in source order - we use z-index to move them in front of the headings
 */
.tabPanel-widget > label {
    position: absolute;
    z-index: 1;
}

/**
 * labels and headings must share same values so grouping declarations in this rule prevents async edits (risk of breakage)
 * line-height == height -> vertical centering
 * the width dictates the offset for all headings but the first one: left offset = width * number of previous heading(s)
 * note that width and offset of label/heading pair can be customized if necessary
 */

.tabPanel-widget > label,
.tabPanel-widget > h2 {
    font-size: 0.8em;
    width: 7em;
    height: 2em;
    line-height: 2em;

}

/**
 * position:relative is for the markers (the down arrow in tabs)
 */
.tabPanel-widget > h2 {
    margin: 0;
    margin-right: 5px;
    text-align: center;
    /*   background: #999; */
    color: rgb(20, 175, 150);
}

.tabPanel-widget > label {
    /*   border-right: 1px solid #fff;   */
}

/**
 * all first level labels and headings after the very first ones
 */
.tabPanel-widget > label ~ label,
.tabPanel-widget > h2 ~ h2 {
    position: absolute;
    top: 0;
}

/**
 * We target all the label/heading pairs
 * we increment the :nth-child() params by 4 as well as the left value (according to "tab" width)
 */

.tabPanel-widget label:nth-child(1),
.tabPanel-widget h2:nth-child(3) {
    left: 0em;
}

.tabPanel-widget label:nth-child(5),
.tabPanel-widget h2:nth-child(7) {
    left: 7em;
}

.tabPanel-widget label:nth-child(9),
.tabPanel-widget h2:nth-child(11) {
    left: 14em;
}

.tabPanel-widget div:nth-child(8) {
    margin-top: 4px;
}

/**
 * we visually hide all the panels
 * https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
 */
.tabPanel-widget input + h2 + div {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/**
 * we reveal a panel depending on which control is selected
 */
.tabPanel-widget input:checked + h2 + div {
    position: static !important;
    padding: 1em !important;
    height: auto !important;
    width: auto !important;
}

/**
 * shows a hand cursor only to pointing device users
 */
.tabPanel-widget label:hover {
    cursor: pointer;
}

.tabPanel-widget > div {
    background: #f8f8f8;
    padding: 1em;
}

/**
 * we hide radio buttons and also remove them from the flow
 */
.tabPanel-widget input[name*="tabs"] {
    opacity: 0;
    position: absolute;
}

/**
 * this is to style the tabs when they get focus (visual cue)
 */

.tabPanel-widget input[name*="tabs"]:focus + h2 {
    /*   outline: 1px dotted #ff0; */
    /*   outline-offset: 10px;*/
    outline: none;
}

/**
 * the marker for tabs (down arrow)
 */
/*
.tabPanel-widget input[name="tabs"]:checked + h2:after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
}
 */

.tabPanel-widget input[name*="tabs"]:checked + h2 {
    border-bottom: 4px solid rgba(20, 175, 150, 0.7);
}

label:focus {
    outline: none;
}

/*  Other elements */
.list > li {
    color: #111;

}

.tabImageIOS {
    content: url('./images/apple60.png');
    width: 20px;
    height: 20px;
    /*    padding:4px 0 0 6px; */
}

.tabImageAndroid {
    content: url('./images/android60.png');
    width: 20px;
    height: 20px;
    /*    padding:4px 0 0 6px; */
}

.tabImageWin {
    content: url('./images/winmo60.png');
    width: 20px;
    height: 20px;
    /*    padding:4px 0 0 6px; */
}
